# {{ ansible_managed }}

### {{ beat_name }} Configuration ###

### {{ beat_name }} ###
{{ beat_conf | to_nice_yaml(indent=2) }}

### Libbeat Config ###

### Output ###
{{ beat_output_conf | to_nice_yaml(indent=2) }}

{% if shipper_conf is defined %}
### Shipper ###
{{ beat_shipper_conf | to_nice_yaml(indent=2) }}
{% endif %}

### Logging ###
{{ beat_logging_conf | to_nice_yaml(indent=2) }}
